.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover{
    color: #007bff;
}

.navbar-link {
    color: white !important;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #007bff !important;
}

.nav-hov:hover {
    color: #007bff !important; 
}


.navbar-toggler {
    background-color:grey;
}

.navbar-toggler-icon {
    background-color: grey; 
}

.Login-button:hover, .Register-button:hover {
    background-color: #007f5e; 
    color: #fff;
}
.Register-button:hover {
 background-color: #007bff;
}

@media (min-width: 769px) {
    .navbar-center .navbar-links {
        justify-content: center;  
    }
}

@media (max-width: 768px) {
    .navbar-center .navbar-links {
        justify-content: flex-start;  
    }
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;  
}


.navbar-brand {
    margin-left: 15px;
}

.Login-button {
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
/* #007bff */
.Register-button {
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

@media (max-width: 768px) {
    .navbar-center {
        display: block;
        text-align: center;
    }

    .navbar-right {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .navbar-center .navbar-link {
        display: block;
        margin: 10px 0;
    }

    .navbar-right .Login-button, .navbar-right .Register-button {
        width: auto; 
        margin-top: 10px; 
        padding: 6px 15px; 
        font-size: 12px; 
    }

    .Login-button:hover {
        background-color: #007f5e;
        color: #fff;
    }

    .Register-button:hover {
        background-color: #007bff;
    }
}
